include ./zRunnerSample

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title zRunner | Slider Plugin for jQuery

  body
    .showcase__wrapper
      h1.showcase__title zRunner Demo
      h2.showcase__subtitle Slider Plugin for jQuery
      a.showcase__link(
        href='https://github.com/vladtaranov/zrunner') Docs on Github

      - const ids = [1, 2, 3]
      each id in ids
        .showcase__sample
          +zRunnerSample(id)
