doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title zRunner | Slider Plugin for jQuery

  body
    h1 zRunner Samples
    .js__runner-sample-1
      | zRunner 1

    .js__runner-sample-2
      | zRunner 2


    input(
      name= 'sample-1')

    input(
      name= 'sample-2')
